.container {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  animation: fadeIn 1.5s;
}

.nameCnt, .craftCnt {
  position: absolute;
  backdrop-filter: blur(2px);
  z-index: -1;
}

.name, .nameCnt {
  position: absolute;
  padding: 1rem;
  background-color: rgba(255,255,255,.02);
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  /* border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; */
  border-radius: .2rem;
}

.craft, .craftCnt {
  position: absolute;
  padding: 1rem;
  background-color: rgba(255,255,255,.02);
  height: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.upBtn {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  transform: rotateX(.5turn);
  z-index: 2;
}

.dnBtn {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  z-index: 2;
}

.craftDown {
  animation: down .5s forwards
}

.craftUp {
  animation: up .5s forwards
}

.hide {
  display: none;
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
