.container {
  background-image: linear-gradient(var(--dkGray), black, var(--dkPurple), var(--dkMagenta));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.icon {
  margin: 1rem;
  width: 20vw;
  height: 20vw;
  animation: turn 60s linear infinite;
}

p, h3 {
  margin: .5rem;
}

span {
  color: var(--moonLavender)
}

@keyframes turn {
  0% {transform: rotateY(0)}
  33% {transform: rotateY(360deg)}
  67% {transform: rotateZ(0)}
  100% {transform: rotateZ(360deg)}
}
